@import "tailwindcss";

:root {
	--primary-gold: #C5A000;
	--dark-text: #1A1A1A;
}

body {
	background-color: #ffffff;
	color: var(--dark-text);
}

/* Horizontal Marquee Animation */

@keyframes marquee-left {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes marquee-right {
	0% {
		transform: translateX(-50%);
	}

	100% {
		transform: translateX(0%);
	}
}

.animate-marquee-left {
	animation: marquee-left 60s linear infinite;
}

.animate-marquee-right {
	animation: marquee-right 60s linear infinite;
}